.actions {
  display: flex;
  height:50vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

  &--card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--button {
    background-color: transparent;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;

    > div {
      font-size: 5em;
    }

    > p {
      font-size: 1.5em;
      margin-top: 1.3em;
    }
  }

  &__horizontal {
    flex-direction: column;
    height:50vh;

    .card {
      height: 50%;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}