.report-results {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse; 

  thead {
    th {
      background-color: #36304a;
      box-sizing: border-box;
      color: #fff;
      line-height: 1.4;
      margin: 0px;
      padding-bottom: 20px;
      padding-top: 24px;
      text-transform: uppercase;

      &:hover {
        background-color: #484848;
      }
    }
  }

  tbody {
    td {
      box-sizing: border-box;
      color: #808080;
      font-size: 14px;
      line-height: 1.4;
      margin: 0px;
      padding-top: 18px;
      padding-bottom: 14px;
      text-align: center;

      &:hover {
        color: #fff;
        background-color: #6C7AE0;
      }
    }
  }
}
