@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.eot');
  src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Regular.woff') format('woff'),
      url('/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.eot');
  src: url('/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-MediumItalic.woff') format('woff'),
      url('/fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ThinItalic.eot');
  src: url('/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-ThinItalic.woff') format('woff'),
      url('/fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldItalic.eot');
  src: url('/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-BoldItalic.woff') format('woff'),
      url('/fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.eot');
  src: url('/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Black.woff') format('woff'),
      url('/fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.eot');
  src: url('/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Thin.woff') format('woff'),
      url('/fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BlackItalic.eot');
  src: url('/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-BlackItalic.woff') format('woff'),
      url('/fonts/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.eot');
  src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Bold.woff') format('woff'),
      url('/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic.eot');
  src: url('/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Italic.woff') format('woff'),
      url('/fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.eot');
  src: url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Medium.woff') format('woff'),
      url('/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.eot');
  src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-Light.woff') format('woff'),
      url('/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-LightItalic.eot');
  src: url('/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Roboto-LightItalic.woff') format('woff'),
      url('/fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

