.button {
  color: #1976d2;
  border: 1px solid rgba(25, 118, 210, 0.5);
  padding: 5px 15px;
  border-radius: 5px;

  &__active {
    background-color: rgba(25, 118, 210, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
  }
}