.divider {
  background-color: gray;
  position: relative;

  &__horizontal {
    width: 100%;
    height: 1px;

    .text {
      top: -1em;
      left: 50%;
      margin-left: -1em;
    }
  }

  &__vertical {
    height: 100%;
    width: 1px;

    .text {
      top: 50%;
      left: -1em;
      margin-top: -1em;
    }
  }

  .text {
    position: absolute;
    background-color: white;
    padding: 0.5em;
    text-transform: uppercase;
  }
}