.report-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--content {
    width: 50%;
  }

  &--title {
    text-align: center;
    margin-bottom: 1em;
  }

  &--field-group {
    width: 100%;
    display: flex;
    margin: 1.5em 0;

    label {
      display: flex;
      width: 30%;
    }

    select {
      width: 70%;
    }
  }

  &--button-option {
    display: flex;
    padding: 0 1em 0 0 ;
  }
}